<div class="control-panel" id="create-page">
  <h2>Choose the database you want to add data to:</h2>
  <ul class="database-options">
    <a href="">
      <li>Women images</li>
    </a>
    <a href="">
      <li>Men Images</li>
    </a>
    <a href="">
      <li>Men products</li>
    </a>
  </ul>
</div>
