<link rel="stylesheet" href="/CSS/admin.css">

<div id="admin-page">
    <div id="side-bar">
        <h1>Admin Panel</h1>
        <ul class="options">
            <li id="create" class="active">Create</li>
            <li id="delete">Delete</li>
            <li id="delete">Update</li>
        </ul>
    </div>

    <div class="control-panel">

    </div>
</div>