<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV</title>
    <link rel="stylesheet" href="CSS/cv.css">
</head>
<body>
    <div id="main-div">
        <div id="navbar">
            <ul id="nav">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#education-page">Education</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#contact-page">Contact</a></li>
            </ul>
        </div>
    
        <div id="home">
            <div class="oval-design">
                <p>Hello I am</p>
            </div>
            <div id="name">
                <h1>Ms. Eman Butt</h1>
                <h2>Student</h2>
            </div>
            <div id="contact">
                <ul id="contact-list">
                    <li>
                        <a class="icon-item" href="https://mail.google.com/mail/?view=cm&fs=1&to=butt.eman391@gmail.com">
                            <img class="icon" src="/Images/Icons/email.png" alt="an email icon">
                        </a>
                        <p>butt.eman391@gmail.com</p>
                    </li>
                    <li>
                        <a class="icon-item" href="tel:+923146264679">
                            <img class="icon" src="/Images/Icons/phone.png" alt="phone icon">
                        </a>
                        <p>+92 314 6264679</p>
                    </li>
                    <li>
                        <a class="icon-item" href="https://www.google.com/maps/@31.4056425,74.2555648,15z?entry=ttu&g_ep=EgoyMDI1MDIxOS4xIKXMDSoASAFQAw%3D%3D">
                            <img class="icon" src="/Images/Icons/location.png" alt="an address icon">
                        </a>
                        <p>Block A-2, Valencia Town, Lahore</p>
                    </li>
                </ul>
            </div>
            <div id="social-media">
                <ul id="social-media-list">
                    <li>
                        <a class="icon-item" href="https://github.com/emaaanbutt">
                            <img class="icon" src="/Images/Icons/github.png" alt="Github icon">
                        </a>
                    </li>
                    <li>
                        <a class="icon-item" href="https://www.linkedin.com/in/eman-butt-504788285/">
                            <img class=icon src="/Images/Icons/linkedin.png" alt="LinkedIn icon">
                        </a>
                    </li>
                    <li>
                        <a class="icon-item" href="https://www.facebook.com/share/15zFWoxm9S/">
                            <img class="icon" src="/Images/Icons/facebook-cv.png" alt="Facebook Icon">
                        </a>
                    </li>
                </ul>
            </div>
            <div id="my-image">
                <img src="/Images/my-image.jpg" alt="Image of the candidate">
            </div>
        </div>
    
        <div id="about">
            <div id="man">
                <img class="image" src="/Images/man.png" alt="a man working on a computer">
            </div>
            <div id="about-me">
                <h3>About Me</h3>
                <p>Hello, I’m Eman, a developer with experience in web development, machine 
                    learning, and data science. I have worked on projects ranging from web 
                    applications to AI-driven models. My skill set includes</p>
                    <ul id="skills-list">
                        <li>Python</li>
                        <li>C++</li>
                        <li>Java</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>Numpy</li>
                        <li>Pandas</li>
                        <li>TensorFlow</li>
                    </ul>

                    <div class="button">
                        <a href="/CV_hehe.pdf" download>Download CV</a>
                    </div>
            </div>
            <div id="services">
                <h3>What I do</h3>
                <ul id="services-list">
                    <div class="service">
                        <li>
                            <img class="icon size" src="/Images/Icons/machine-learning.png" alt="a machine learning icon">
                            <h4>Machine Learning Development</h4>
                            <p>I build and train machine learning models for 
                                tasks like predictive analysis, classification,
                                 and sentiment analysis, utilizing frameworks 
                                 like PyTorch.</p>
                        </li>
                    </div>
                    <div class="service">
                        <li>
                            <img class="icon size" src="/Images/Icons/ai-powered-model.png" alt="an ai powered model">
                            <h4>AI-Powered Solutions</h4>
                            <p>From AI chatbots to intelligent automation, 
                                I research and implement AI-driven solutions
                                 that enhance efficiency and user experience.</p>
                        </li>
                    </div>
                    <div class="service">
                        <li>
                            <img class="icon size" src="/Images/Icons/html-tags.png" alt="html tag image">
                            <h4>Web Development</h4>
                            <p>I create and customize responsive web applications 
                                using modern technologies, ensuring seamless user 
                                experiences and functional designs.</p>
                        </li>
                    </div>
                </ul>
            </div>
        </div>

        <div id="skills">
            <div id="technical-skills">
                <h3>Technical Skills</h3>
                <ul id="technical-skills-list">
                    <li>
                        <div class="t-skill">
                            <div class="skill-percentage">
                                <h4>C++</h4>
                                <h4 class="percentage1">90%</h4>
                            </div>
                            <div class="slider">
                                <div id="slider1">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="t-skill">
                            <div class="skill-percentage">
                                <h4>Python</h4>
                                <h4 class="percentage2">85%</h4>
                            </div>
                            <div class="slider">
                                <div id="slider2">

                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="t-skill">
                            <div class="skill-percentage">
                                <h4>HTML</h4>
                                <h4 class="percentage2">75%</h4>
                            </div>
                            <div class="slider">
                                <div id="slider3">

                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="t-skill">
                            <div class="skill-percentage">
                                <h4>CSS</h4>
                                <h4 class="percentage1">50%</h4>
                            </div>
                            <div class="slider">
                                <div id="slider4">

                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="t-skill">
                            <div class="skill-percentage">
                                <h4>Java</h4>
                                <h4 class="percentage1">50%</h4>
                            </div>
                            <div class="slider ">
                                <div id="slider5">

                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="professional-skills">
                <h3>Professional Skills</h3>
                <ul id="professional-skills-list">
                    <li>
                        <div class="p-skill">
                            <div class="round-slider" id="s6">
                                <div class="inner-slider">
                                    <p>88%</p>
                                </div>
                            </div>
                            <h4>Communication</h4>
                        </div>
                    </li>
                    <li>
                        <div class="p-skill">
                            <div class="round-slider" id="s7">
                                <div class="inner-slider">
                                    <p>85%</p>
                                </div>
                            </div>
                            <h4>Team Work</h4>
                        </div>
                    </li>
                    <li>
                        <div class="p-skill">
                            <div  class="round-slider" id="s8">
                                <div class="inner-slider">
                                    <p>95%</p>
                                </div>
                            </div>
                            <h4>Leadership</h4>
                        </div>
                    </li>
                    <li>
                        <div class="p-skill">
                            <div class="round-slider" id="s9">
                                <div class="inner-slider">
                                    <p>70%</p>
                                </div>
                            </div>
                            <h4>Creativity</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div id="education-page">
            <div id="education">
                <h3>Education</h3>
                <ul id="edu-list">
                    <li>
                        <div class="box">
                            <h4>Bachleors in Artificial Intelligence from <em style="color: #872341">COMSATS, Lahore</em></h4>
                            <h5 style="color: #872341">2023-2027 (Currently 5th semester)</h5>
                            <p>Developing expertise in machine learning, 
                                data analysis, and AI-driven applications,
                                 with practical experience in Python, NumPy,
                                  Pandas, deep learning, and web technologies. 
                                  Passionate about solving real-world problems 
                                  using AI.</p>
                        </div>
                    </li>
                    <li>
                        <div class="box">
                            <h4>Fsc in Pre-Medical from <em style="color: #872341">KIPS College, Lahore</em></h4>
                            <h5 style="color: #872341">2020-2022</h5>
                            <p>Built a strong foundation in biology, chemistry, 
                                and physics, developing analytical and research 
                                skills before transitioning into the field of 
                                Artificial Intelligence.</p>
                        </div>
                    </li>
                    <li>
                        <div class="box">
                            <h4>Matriculation from <em style="color: #872341">Lahore Grammar School</em></h4>
                            <h5 style="color: #872341">2018-2020</h5>
                            <p>Studied core subjects including mathematics, physics, 
                                chemistry, and biology, fostering a strong analytical
                                 mindset and problem-solving abilities.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div id="portfolio">
            <h3>My Projects</h3>
            <div id="projects">
                <a class="proj-link" href="https://github.com/emaaanbutt/AdventureGameFinal.git">
                    <div class="box project-box">
                        <img class="proj-img" src="/Images/castle.png" alt="a mysterious castle">
                        <h4>Mysterious Castle Adventure</h4>
                    </div>
                </a>
                <a class="proj-link" href="https://github.com/emaaanbutt/CNN-And-ANN.git">
                    <div class="box project-box">
                        <img class="proj-img" src="/Images/robot.png" alt="a robot image">
                        <h4>AI Image Recognition Model</h4>
                    </div>
                </a>
                <a class="proj-link" href="https://github.com/emaaanbutt/Restaurant-Management-System.git">
                    <div class="box project-box">
                        <img class="proj-img" src="/Images/restaurant.png" alt="a restaurant interactive system">
                        <h4>Restaurant Management System</h4>
                    </div>
                </a>
                <a class="proj-link" href="https://github.com/emaaanbutt/Meme.git">
                    <div class="box project-box">
                        <img class="proj-img"src="/Images/meme.png" alt="a meme">
                        <h4>Web developement</h4>
                    </div>
                </a>
            </div>

        </div>
        <div id="contact-page">
            <h3>Contact Me</h3>
            <div id="background">
                <div id="contact-details">
                    <ul id="contact-list">
                        <li>
                            <div class="box contact-box">
                                <div class="contact">
                                    <div class="image-container">
                                        <img src="/Images/Icons/location.png" alt="an address icon">
                                    </div>
                                    <h4>Address</h4>
                                    <p>Block A-2<br>Valencia Town, Lahore</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="box contact-box">
                                <div class="contact">
                                    <div class="image-container">
                                        <img src="/Images/Icons/email.png" alt="an email image">
                                    </div>
                                    <h4>Email</h4>
                                    <p>butt.eman391@gmailcom <br>SP23-BAI-014@cuilahore.edu.pk</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="box contact-box">
                                <div class="contact">
                                    <div class="image-container">
                                        <img src="/Images/Icons/phone.png" alt="a phone image">
                                    </div>
                                    <h4>Phone</h4>
                                    <p>+92 314 6264679<br>+92 322 6611538</p>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div id="send-message">
                        <div id="inputs">
                            <div>
                                <input type="text" class="input" placeholder="First Name" required>
                            </div>
                            <div id="last-name">
                                <input type="text" class="input" placeholder="Last Name" required>
                            </div>
                            <div id="your-email">
                                <input type="email" class="input" placeholder="Your Email" required >
                            </div>
                            <div id="text-box">
                                <textarea id="text-box" class="input" placeholder="Your Message" rows="8"></textarea>
                            </div>
                            <div class="button" id="send-message-button">
                                <a href="https://media.makeameme.org/created/hehe-boy-6b721b68fa.jpg">
                                    <p>Send Message</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <footer>
                        <p>© 2025 CV-Eman. All Rights Reserved.</p>
                    </footer>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>