<div class="page">
    <form class="form" action="">
        <p>Hi friend! Enter your email to login.</p>
        <div id="btns">
            <a href="">
                <div class="butn active" id="login">
                    Login
                </div>
            </a>
            <a href="/register">
                <div class="butn" id="register">
                    Register
                </div>
            </a>
        
    </div>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
    <label for="email">Email:</label>
    <input type="text" name="email" id="email">
    <label for="password">Password</label>
    <input type="password" id="password">

    <div class="butn" id="submit">
        Submit
    </div>
    </form>
    
</div>