<div id="login-page">
    <div id="btns">
        <div class="btn" id="login">
            Login
        </div>
        <div class="btn" id="register">
            Register
        </div>
    </div>
    <label for="email">Email:</label>
    <input type="text" name="email" id="email">
    <label for="password">Password</label>
    <input type="password" id="password">
</div>