<div id="login-page">
    <form class="form" action="">
        <div id="btns">
        <div class="butn" id="login">
            Login
        </div>
        <div class="butn" id="register">
            Register
        </div>
    </div>
    <label for="email">Email:</label>
    <input type="text" name="email" id="email">
    <label for="password">Password</label>
    <input type="password" id="password">

    <div class="butn" id="submit">
        Submit
    </div>
    </form>
    
</div>