<div class="product-page">
    <div class="discount">
        <h1>Up to 30% off!</h1>
    </div>

    <div class="products">
        <a href="" class="product-cont">
            <div class="product-img">
                <img src="/Images/mp1.png" alt="">
            </div>
            <div class="product-desc">
                COLLISION ribbed vest in white
            </div>
            <div class="product-price">
                $13.42
            </div>
        </a>
        <a href="" class="product-cont">
            <div class="product-img">
                <img src="/Images/mp1.png" alt="">
            </div>
            <div class="product-desc">
                COLLISION ribbed vest in white
            </div>
            <div class="product-price">
                $13.42
            </div>
        </a>
        <a href="" class="product-cont">
            <div class="product-img">
                <img src="/Images/mp1.png" alt="">
            </div>
            <div class="product-desc">
                COLLISION ribbed vest in white
            </div>
            <div class="product-price">
                $13.42
            </div>
        </a>
        <a href="" class="product-cont">
            <div class="product-img">
                <img src="/Images/mp1.png" alt="">
            </div>
            <div class="product-desc">
                COLLISION ribbed vest in white
            </div>
            <div class="product-price">
                $13.42
            </div>
        </a>
        <a href="" class="product-cont">
            <div class="product-img">
                <img src="/Images/mp1.png" alt="">
            </div>
            <div class="product-desc">
                COLLISION ribbed vest in white
            </div>
            <div class="product-price">
                $13.42
            </div>
        </a>
        <a href="" class="product-cont">
            <div class="product-img">
                <img src="/Images/mp1.png" alt="">
            </div>
            <div class="product-desc">
                COLLISION ribbed vest in white
            </div>
            <div class="product-price">
                $13.42
            </div>
        </a>
        <a href="" class="product-cont">
            <div class="product-img">
                <img src="/Images/mp1.png" alt="">
            </div>
            <div class="product-desc">
                COLLISION ribbed vest in white
            </div>
            <div class="product-price">
                $13.42
            </div>
        </a>
    </div>
</div>

