<div class="page">
    <form class="form" action="">
        <p>Hi friend! Enter your email to register.</p>
        <div id="btns">
            <a href="/login">
                <div class="butn" id="login">
                    Login
                </div>
            </a>
            <a href="">
                <div class="butn active" id="register">
                    Register
                </div>
            </a>
    </div>
    <label for="email">Email:</label>
    <input type="text" name="email" id="email-register">
    <label for="password">Password</label>
    <input type="password" id="password-register">

    <div class="butn" id="submit">
        Submit
    </div>
    </form>
    
</div>