<div class="cover-img">
    <a href="">
        <img class="c-img" src="/Images/cover-women.png" alt="cover photo">
    </a>
</div>

<div class="collections">
    <a href="">
        <div class="collection" >
           <img src="./Images/collections-women.png" alt="">
        </div>
    </a>
</div>

<div class="heading">
    <h2>New in</h2>
</div>

<div class="container-div">
    <% const images = ['/Images/w1.png', '/Images/w2.png', '/Images/w3.png', '/Images/w4.png', '/Images/w5.png', '/Images/w6.png',];
    images.forEach(image => { %>
        <div class="small-cont">
            <a href="">
                <img src="<%= image %>" alt="">
            </a>
        </div>
    <% }); %>
</div>
