<%- include('partials/header.ejs') %>

<div class="cover-img">
    <a href="">
        <img class="c-img" src="/Images/cover-women.png" alt="cover photo">
    </a>
</div>

<div class="collections">
    <a href="">
        <div class="collection" >
           <img src="./Images/collections-women.png" alt="">
        </div>
    </a>
</div>

<%- include('partials/footer.ejs') %>