<link rel="stylesheet" href="/CSS/form.css" />

<div class="page">
  <a class="back" href="/"> <div>Back</div></a>
  <% if (query && query.alert == '1') { %>
  <script>
    alert("Please login to continue to checkout.");
  </script>
  <% } %>
  <form class="form" action="/login" method="POST">
    <div id="btns">
      <a href="">
        <div class="butn active" id="login">Login</div>
      </a>
      <a href="/register">
        <div class="butn" id="register">Register</div>
      </a>
    </div>
    <label for="email">Email:</label>
    <input
      type="text"
      name="email"
      id="email"
      required
      placeholder="Enter your email"
    />
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      required
      placeholder="Enter your password"
    />
    <% if (error) { %>
    <span id="invalid" style="display: block"><%= error %></span>
    <% } else { %>
    <span id="invalid" style="display: none"></span>
    <% } %>

    <a class="link" href="">Forgot password?</a>

    <button class="butn" id="submit" type="submit">Login</button>

    <span
      >Don't have an account?
      <a class="link" href="/register">Register</a></span
    >
  </form>
</div>
