<link rel="stylesheet" href="/CSS/admin.css" />

<div class="control-panel" id="add-page">
  <h3>Add New Product</h3>
  <form action="" method="post">
    <label for="image">Image path: </label>
    <input type="text" name="image" value="" />
    <label for="description" class="title">Description: </label>
    <textarea name="description" draggable="false"></textarea> 
    <label for="price" class="title" >Price: </label>
    <input type="number" name="price" value=""  step="any"/> 
    <input type="submit" />
  </form>
</div>
