<link rel="stylesheet" href="/CSS/admin.css" />

<div class="control-panel" id="add-page">
  <h3>Create New Product</h3>
  <form action="" method="post">
    <label for="title" class="title">Title: </label>
    <input type="text" name="title" value="" />
    <label for="description" class="title">Description: </label>
    <textarea name="description"></textarea> 
    <label for="price" class="title">Price: </label>
    <input type="number" name="price" value="" /> 
    <input type="submit" />
  </form>
</div>
