#main-div{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
}

#navbar{
    background-color: #09122C;
    position: fixed;
    width: 98.8%;
    font-size: 25px;
    text-align: right;
    z-index: 100;

}

#nav{
    list-style: none;
    padding-right: 100px;
}

#nav > li{
    display: inline;
    padding: 15px;
}

#nav > li > a {
    color: white;
    text-decoration: none;
}

#nav > li > a:hover, #nav > li > a:active{
    color: #872341;
}

#home{
    position: relative;
    background-color: #BE3144;
    width: 100%;
    height: 700px;
    top: 50px;
    margin: 0px;
  
}

.oval-design{
    position: absolute;
    top:20%;
    width: 110px;
    height:15px;
    background-color: #09122C;
    margin-left: 100px;
    padding: 20px;
    border-radius: 25px 25px 25px 3px;
}

.oval-design > p{
    font-size: 20px;
    margin:0;
    font-size: 23px;
    font-weight: bold;
    color: white;
}

#name{
    position: absolute;
    top: 28%;
    margin-left: 100px;
    color: white;
}

h1{
    font-size: 75px;
    padding: 0px;
    margin: 15px 15px 0px 0px;
    
}

#name > h2{
    font-size: 40px;
    padding: 0px;
    margin: 15px;
    margin-left: 0px;
    font-weight: light;

}

#contact{
    position: absolute;
    top:55%;
    margin-left: 100px;
    color: white;
    padding: 10px;

}

#contact-list{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#contact-list > li > p{
    display: inline;
    font-size: 20px;

}
.icon{
    height: 30px;
    width: 30px;
    padding-right: 15px;
}


#social-media{
    position: absolute;
    top: 75%;
    margin-left: 100px;
}

#social-media-list{
    list-style: none;
}

#social-media-list > li{
    display: inline;
    padding: 10px;
}

ul > li > a img {
    transition: 0.3s;
}
  
ul > li >  a:hover img {
    filter: invert(100%); 
}

#my-image{
    height: 320px;
    width: 320px;
    background-color: none;
    border-radius: 50%;
    float: right;
    margin-right: 200px;
    margin-top:170px;
    border: 20px solid #09122C;
    padding: 20px;
}

#my-image > img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.icon-item{
    text-decoration: none;
}

.icon-item:visited{
    text-decoration: none;
}

.icon-item:active{
    text-decoration: none;
}

#about{
    position: absolute;
    width: 100%;
    height: 1000px;
    background-color: #09122C;

}

.image{
    width: 500px;
    height: 300px;
    margin-left: 100px;
    margin-top: 100px;
}

#about-me{
    position: absolute;
    width: 600px;
    height: 350px;
    margin-left: 670px;
    top: 40px;
}

#skills-list{
    list-style: none;
    margin: 0px;
    padding:5px;
}

#about-me > h3{
    text-align: left;
    margin-left: 20px;
    color: white;
    font-size: 40px;
}

#about-me > p{
    text-align: justify;
    margin-left: 20px;
    color: white;
    font-size: 20px;
}

#skills-list > li{
    text-decoration: none;
    display: inline-flex;
    margin: 10px;
    padding: 5px;
    border: 2px solid #BE3144;
    border-radius: 6px;
    color: white;

}

.button{
    margin: 20px;
    padding-top: 7px;
    padding-left: 13px;
    border: 2px solid #BE3144;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    background-color: #BE3144;

}

.button > a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    text-align: center;
    

}

#position{
    position: absolute;
    width: 100%;
    height: 600px;
}

#services > h3{
    text-align: center;
    color: white;
    font-size: 40px;
    margin-top: 140px;
}

#services > ul{
    list-style: none;

}

.service{
    width: 350px;
    height: 250px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #E17564;
    display: inline-flex;
    padding: 10px;
    margin: 15px;
    box-shadow: 10px 10px 25px rgb(0,0,0.5);
    
}

.service > li > h4{
    text-align: left;
    color: white;
    font-size: 20px;
}

.service > li > p{
    text-align: justify;
    margin: 10px;
    font-size: 18px;
}

.service > li{
    text-decoration: none;
    padding: 10px;
}

.size{
    width: 50px;
    height:50px;
}

#skills{
    position: absolute;
    width: 100%;
    height: 1700px;
    z-index: -1;
    background-color: #872341;
}

#technical-skills{
    position: absolute;
    width: 45%;
    height: 550px;
    margin: 100px;
    top: 1000px;
    color: white;
}

#technical-skills > h3, #professional-skills > h3{
    margin-left: 30px;
    font-size: 35px;
    padding-left:10px;
}

#technical-skills-list, #professional-skills-list{
    list-style: none;
}

#technical-skills-list > li, #professional-skills-list > li{
    text-decoration: none;
    font-size: 20px;
    padding: 2px;
}

.skill-percentage{
    display: inline-flex;
    width: 90%;
}

.percentage1{
    text-align: right;
    width: 90%;
}

.percentage2{
    text-align: right;
    width: 85%;
}

.slider{
    position: absolute;
    width: 82%;
    height: 2%;
    border-radius: 10px;
    background-color: grey;
    box-shadow: 10px 10px 25px 7px rgb(0, 0, 0, 0.5);
}

#slider1{
    position: absolute;
    width: 90%;
    height: 100%;
    border-radius: 10px;
    background-color: #09122C;
}

#slider2{
    position: absolute;
    width: 80%;
    height:100%;
    border-radius: 10px;
    background-color: #09122C;
}

#slider3{
    position: absolute;
    width: 75%;
    height:100%;
    border-radius: 10px;
    background-color: #09122C;
}

#slider4{
    position: absolute;
    width: 50%;
    height:100%;
    border-radius: 10px;
    background-color: #09122C;
}

#slider5{
    position: absolute;
    width: 40%;
    height:100%;
    border-radius: 10px;
    background-color: #09122C;
}

#professional-skills{
    position: absolute;
    width: 40%;
    height: 550px;
    margin: 100px;
    margin-left: 52%;
    top: 1000px;
    color: white;
}

#professional-skills > h3{
    margin-left: 70px;
}

.p-skill > h4{
    margin-left: 15px;
}

#professional-skills-list > li{
    display: inline-block;
    text-decoration: none;
    margin: 10px;
    margin-bottom: 20px;
    width: 200px;
    height: 200px; 
    text-align: center;
}

.p-skill > h4{
    font-size: 20px;
    color: white;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;

}

.round-slider{
    position: absolute;
    height: 100px;
    width: 100px;
    border: 10px solid grey;
    border-radius: 50%;
    padding: 15px;
    margin: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 15px 25px 10px rgb(0, 0, 0, 0.5);
}

.inner-slider{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #09122C; 
}

.inner-slider > p{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
}

#s6{
    background: conic-gradient(#872341 88%, grey 0%);
}

#s7{
    background: conic-gradient(#872341 85%, grey 0%);
}

#s8{
    background: conic-gradient(#872341 95%, grey 0%);
}

#s9{
    background: conic-gradient(#872341 70%, grey 0%);
}


#education-page{
    position: absolute;
    width: 100%;
    height: 2550px;
    background-color: #09122C;
    z-index: -5;
}

#education{
    position: absolute;
    width: 100%;
    height: 25%;
    top: 1650px;
    margin: 80px;
    color:white;
}

#edu-list{
    list-style: none;
}

#edu-list > li{
    text-decoration: none;
    padding: 10px;
}

#education > h3{
    margin-left: 38%;
    padding: 0px;
    font-size: 35px;
    color: white;
}


.box{
    width: 70%;
    height: 30%;
    background-color: #E17564;
    box-shadow: 10px 10px 25px 5px rgb(0,0,0.5);
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-left: 5%;
    margin-bottom: 1%;

}

.box > h4{
    font-size: 20px;

}

.box > h5{
    font-size: 15px;
}

.box > p{
    text-align: justify;
    color: black;
    font-size: 17px;
}


#portfolio{
    position: absolute;
    width: 100%;
    height: 1000px;
    top: 3200px;
    background-color: #BE3144;
    z-index: -10;
}

#projects{
    width: 100%;
    height: 100%;
    position: relative;
}

#portfolio > h3{
    font-size: 70px;
    text-align: center;
    margin-top:100px;
    color: white;
}

#projects{
    display: inline-flex;
    margin-left: 25px;
}

.project-box{
    width: 270px;
    height: 400px;
    padding: 10px;
    margin: 10px;
}

.proj-img{
    width:100%;
    height:80%;
}

.project-box > h4{
    font-size: 20px;
    text-align:center;
    margin-top: 20px;
    color: white;
}

.proj-link{
    text-decoration: none;
}

.proj-link{
    height: 45%;
}









