#navbar{
    background-color: #872341;
    position: fixed;
    width: 100%;
    font-size: 20px;
    text-align: right;

}

#nav{
    list-style: none;
    padding-right: 100px;
}

#nav > li{
    display: inline;
    padding: 15px;
}

#nav > li > a {
    color: white;
    text-decoration: none;
}

#nav > li > a:hover, #nav > li > a:active{
    color: #09122C;
}

