</main>
<div id="contact-page">
    <div id="socials">
        <ul id="socials-container">
            <li>
                <a id="fb-icon" href="">
                    <img class="icon size" src="/Images/Icons/facebook.png" alt="facebook logo">
                </a>
            </li>
            <li>
                <a id="ig-icon" href="">
                    <img class="icon size" src="/Images/Icons/instagram.png" alt="instagram logo">
                </a>
            </li>
            <li>
                <a id="sc-icon" href="">
                    <img class="icon size" src="/Images/Icons/snapchat.png" alt="snapchat logo">
                </a>
            </li>
            <li>
                <span>|</span>
            </li>
            <li>
                <img id="visa-icon" class="icon size" src="/Images/Icons/visa.png" alt="visa card">
            </li>
            <li>
                <img id="master-card-icon" class="icon size" src="/Images/Icons/card.png" alt="master card">
            </li>
            <li>
                <img id="american-express-icon" class="icon size" src="/Images/Icons/american-express.png" alt="american express card">
            </li>
            <li>
                <img id="paypal-icon" class="icon size" src="/Images/Icons/paypal.png" alt="paypal card">
            </li>
            <li>
                <img id="visa-electron-icon" class="icon size" src="/Images/Icons/visa-electron.png" alt="visa electron card">
            </li>
                    
        </ul>
    </div>

    <div id="help-and-about-section">
        <div id="help-and-info">
            <ul class="list" id="help-containter">
                <h4 class="title">Help and information</h4>
                <li>
                    <a href="">Help</a>
                </li>
                <li>
                    <a href="">Track order</a>
                </li>
                <li>
                    <a href="">Delivery & returns</a>
                </li>
                <li>
                    <a href="">Sitemap</a>
                </li>
            </ul>
        </div>

        <div id="about">
            <ul class="list" id="about-container">
                <h4 class="title">About Asos</h4>
                <li>
                    <a href="">About us</a>
                </li>
                <li>
                    <a href="">Careers at ASOS</a>
                </li>
                <li>
                    <a href="">Corporate responsibilty</a>
                </li>
                <li>
                    <a href="">Investors' site</a>
                </li>
            </ul>
        </div>

        <div id="more-about">
            <ul class="list" id="more-about-container">
                <h4 class="title">More from Asos</h4>
                <li>
                    <a href="">Mobile and ASOS apps</a>
                </li>
                <li>
                    <a href="">Gift vouchers</a>
                </li>
                <li>
                    <a href="">Black Friday</a>
                </li>
                <li>
                    <a href="">ASOS x Thrift+</a>
                </li>
                <li>
                    <a href="">Discover the ASOS credit card</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="footer">
    <span>© 2025 ASOS. All Rights Reserved.</span>

    <ul id="privacy-and-conditions-container">
        <li>
            <a href="">Privacy & Cookies</a>
        </li>
        <li>
            |
        </li>
        <li>
            <a href="">Ts&Cs</a>
        </li>
        <li>
            |
        </li>
        <li>
            <a href="">Accessibility</a>
        </li>
    </ul>
</div>


<script src="/script/checkout.js" ></script>  
</body>
</html>